
.iconsacola{
    font-size: 2em;
}

.ccenter{
  display: block;
  top: 50%;
  left: 50%;
}

.borderx{
    padding-bottom: 10px !important;
    border-bottom: 1px solid black;
}

.mtcontainer{
    margin-top: 20px;
}